body {
  background: #FFF;
  filter: invert(40%) hue-rotate(360deg);
  mix-blend-mode: color-dodge;
  color: lightsalmon;
}

.img-wrapper {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.3);
}

/* Other styling elements, that are not necessary for the example */

.img-wrapper {
  display: inline-block;
  box-sizing: border-box;
  /*border: 1px solid #000;*/
}