.flex {
	display: flex;
	height: 400px;
	flex-direction: row;
	/* расположение слева, справа, очередность */
	flex-wrap: wrap;
	/* переход на новую строку, если не вмещается блок по ширене */
	/* flex-flow:  совмещает два предыдущих свойства без зкаков препинания*/
	/* flex-grow: - пропорции наших ячеек */
	/*	justify-content: center;*/
	/* расположение на экране */
	align-items: center;
	/* расположение контейнера оп второй оси (вертикальной) */
}

.item {
	padding: 10px;
	border: 1px solid #333;
	border-radius: 10px;
	width: 100px;
	order: 0;
}

.item:nth-child(2) {
	align-self: flex-end;
}

.item:nth-child(3) {
	order: -1;
}
