/******************************************
HTML5 display-role reset for older browsers
******************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    color: #7f7f7f;
    font-size: 12px;
    font-family: Arial;
    background-color: #f9f9f9;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**********************************************************
****************************HEADER************************
**********************************************************/

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(552px, max-content) auto minmax(16px, max-content) minmax(759px, max-content);
    grid-row-gap: 35px;
}

/*
.grid-item {
    border: 1px solid #000;
}
*/

.header {
    display: grid;
    grid-template-columns: 230px 20px 1fr 1fr 1fr;
}

.header .header_box {
    background: #fff;
    padding: 47px 28px;
    box-sizing: border-box;
}

.header a.logo {
    margin-bottom: 35px;
    display: inline-block;
}

.header nav {
    font-family: 'Oswald', sans-serif;
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 33px;
}

.header nav a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed #000;
    transition: all 300ms ease-in-out;
}

.header nav a:hover {
    color: #ffa800;
    transition: all 300ms ease-in-out;
}

.header .image_box {
    position: relative;
    overflow: hidden;
}

.header .image_box .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 168, 0, 0.8);
    opacity: 0;
    transition: all 100ms ease-in-out;
}

.header .image_box .mask:hover {
    opacity: 1;
    transition: all 100ms ease-in-out;
}

.header .image_box .info_box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 43px;
    text-align: center;
}

.header .image_box .info_box h2,
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 14px;
    text-transform: uppercase;
    color: #fff;
}

.header .image_box .info_box p {
    text-align: center;
    margin-bottom: 0;
    color: #fff;
    font-size: 11px;
}



/**********************************************************
****************************STATS************************
**********************************************************/

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff url(/img/background-loop-1.jpg) no-repeat center center;
    background-size: cover;
}

.stats .video {
    padding: 60px;
    box-sizing: border-box;
    padding-left: 40px;
}

.stats .video figure {
    position: relative;
}

.stats .video figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.stats .video figure figcaption span {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 7px;
}

.stats .video figure figcaption span strong {
    font-weight: 400;
}

.stats .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 70px;
    padding-right: 50px;
    box-sizing: border-box;
}

.stats .info .stats1 .stat_col,
.stats .info .stats2 .stat_col,
.stats .info .stats3 .stat_col {
    display: block;
    text-align: center;
}

.stats .info .stats1 .number,
.stats .info .stats2 .number,
.stats .info .stats3 .number {
    color: #ffa800;
    font-size: 81px;
    line-height: 81px;
    font-weight: 300;
    display: block;
    font-family: 'Oswald', sans-serif;
}

.stats .info .stats1 .description,
.stats .info .stats2 .description,
.stats .info .stats3 .description {
    font-size: 12px;
    color: #7f7f7f;
}

.stats .info .info_block {
    grid-column-start: 1;
    grid-column-end: 4;
}

.stats .info .info_block h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #000000;
}

.stats .info .info_block p {
    margin-bottom: 0;
    color: #7f7f7f;
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 30px;
}

.stats .info .info_block .button {
    display: inline-block;
    padding: 7px 19px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    line-height: 18px;
    font-family: 'Oswald', sans-serif;
    background: #ffa800;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.stats .info .info_block .button:hover {
    background: #000;
    transition: all 300ms ease-in-out;
}

.gallery {
    display: grid;
    grid-template-columns: 360px 1fr 1fr;
    grid-template-rows: 370px 370px;
    grid-gap: 20px;
}

.gallery .grid-item:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery .grid-item:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
}
