.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-rows: minmax(552px, max-content) minmax(467px, max-content) minmax(16px, max-content) minmax(370px, max-content);
    grid-row-gap: 35px;
}

.grid-item {
    border: 1px solid #000;
}
