body {
	margin: 0;
	padding: 0;
}

/**************************
***многоколоночность ******
***************************/

.temp {
	/*column-count: 3;*/
	column-width: 400px;
}

/**************************
***картинка одна на одной**
**************************/

.one {
	width: 300px;
	height: 300px;
	background-image: url(../img/bulbasaur.png), url(../img/640x577.png);
	background-color: yellow;
}

/**************************
**transition, transform****
**************************/

.transit {
	width: 128px;
	height: 128px;
	background-image: url(../img/bulbasaur.png);
	background-color: yellow;
	transition: all ease 0.6s;
}

.transit:hover {
	border-radius: 100%;
	transform: rotate(100deg) scale(-1, 1);
	;
}

/**************************
*********меню**************
**************************/

.my-meny ul {
	padding-left: 0;
	margin-top: 30px;
}

.my-meny ul li {
	list-style-type: none;
	line-height: 170%;
	padding: 5px 0 5px 30px;
	transition: all ease 0.6s;
}

.my-meny ul li:hover {
	background-color: #c0c0c0;
}

.my-meny {
	width: 200px;
	height: 100%;
	position: fixed;
	left: -180px;
	top: 0;
	background-color: #f2f2f2;
	background-image: url(../img/md_5aa0fdd386c8a.png);
	background-size: 16px;
	background-position: 182px 5px;
	box-shadow: 4px 0 5px #c0c0c0;
	background-repeat: no-repeat;
	transition: all ease 1s;
	cursor: pointer;
}

.my-meny:hover {
	left: 0;
}

/**************************
******фильтры картинок*****
**************************/

.one_1:hover {
	filter: grayscale(100%);
}

.two:hover {
	filter: sepia(100%);
}

.three:hover {
	filter: brightness(110%);
}

.four:hover {
	filter: contrast(200%);
}

.five:hover {
	filter: grayscale(100%) sepia(100%) brightness(120%) contrast(200%);
}

/**************************
******перевернутая карта*****
**************************/

.imgnvf {
	width: 100%;
	height: 100%;
}

.front,
.back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	width: 150px;
	height: 150px;
}

.back {
	width: 150px;
	height: 150px;
	transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
	width: 200px;
	height: 200px;
}

.flip-container {
	perspective: 1000px;
}

.flip-container:hover .flipper {
	transform: rotateY(180deg);
}

.flipper {
	position: relative;
	transition: 0.6s;
	transform-style: preserve-3d;
}









.flip-container {
	perspective: 1000px;
}
