body {
	margin: 0;
	padding: 0;
}

/**************************
***многоколоночность ******
***************************/

.temp {
	/*column-count: 3;*/
	column-width: 400px;
}

/**************************
***картинка одна на одной**
**************************/

.one {
	width: 300px;
	height: 300px;
	background-image: url(../img/bulbasaur.png), url(../img/640x577.png);
	background-color: yellow;
}

/**************************
**transition, transform****
**************************/

.transit {
	width: 128px;
	height: 128px;
	background-image: url(../img/bulbasaur.png);
	background-color: yellow;
	transition: all ease 0.6s;
}

.transit:hover {
	border-radius: 100%;
	transform: rotate(100deg) scale(-1, 1);;
}



/**************************
*********transform********
**************************/
