* {
	margin: 0;
	box-sizing: border-box;
	color: #34404b;
	font-family: 'Open Sans Condensed', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;
	width: 100%;
}

.goods-cart img {
	width: 78%;
}

.text-center {
	text-align: center;
}

.orange {
	color: #ff5912;
}

.bg-orange {
	background-color: #ff5912;
}

.bg-light-blue {
	background-color: #3ab3ff;
}

.bg-light-green {
	background-color: #2fd967;
}

.goods-cart {
	width: 256px;
	height: 365px;
	margin: 100px auto;
	box-shadow: 1px 1px 5px #c0c0c0;
	padding: 20px;
	cursor: pointer;
	transition: .5s;
	overflow: hidden;
}

.goods-img,
.goods-cart h2,
.cart-back .size,
.color,
.link {
	transition: all ease .5s;
}

.cart-back {
	transition: all ease 1.5s;
}

h2 {
	color: #34404b;
	font-size: 20px;
	margin: 20px 0;
}

.price {
	font-weight: bold;
}

.size {
	margin: 15px 0;
	font-weight: 600;
}

.color-circle {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 3px;
	border-radius: 100%;
}

.color {
	border-bottom: 1px solid #f2f4f7;
	margin: 5px;
	padding-bottom: 20px;
}

.link {
	margin: 10px 0;
}

.link a {
	display: inline-block;
	margin: 10px;
}

.cart-back {
	/*	display: none;*/
	opacity: 0;
}

.goods-cart:hover {
	box-shadow: 1px 1px 22px #343434;
}

.goods-cart:hover .cart-back {
	/*	display: block;*/
	opacity: 1;
}

.goods-cart:hover .goods-img {
	width: 50%;
}

.goods-cart:hover h2 {
	font-size: 15px;
}

.goods-cart:hover .cart-back .size {
	font-size: 13px;
}

.goods-cart:hover .color {
	margin: 0;
	padding: 0;
}

.goods-cart:hover .link {
	margin: 5px;
}
